<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>192311023613-64qrivuk224vqes7a173pd9mhag0vg55.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.192311023613-64qrivuk224vqes7a173pd9mhag0vg55</string>
	<key>API_KEY</key>
	<string>AIzaSyCQ1_4uEPZu5e8wN_IZ0vg0NvWY_YGdgGI</string>
	<key>GCM_SENDER_ID</key>
	<string>192311023613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.contactsTransfer</string>
	<key>PROJECT_ID</key>
	<string>skdv-contactos</string>
	<key>STORAGE_BUCKET</key>
	<string>skdv-contactos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:192311023613:ios:2aa31a01f73da7c579ab94</string>
</dict>
</plist>